<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="assets/style.css" type="text/css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"> </script>
</head>
<body>
	Hello World
	<form method="POST" action="/person">
		firstname: <input type='text' id='firstname' name='firstname' />
		<br/>
		lastname: <input type='text' id='lastname' name='lastname' />
		<br/>
		<input type='submit' value = "Submit"> 
	</form>
	<script>
		$.ajax({
			type: "POST",
			url: "/personjson",
			data: JSON.stringify({firstname: 'alex', lastname: 'john'}),
			dataType: 'json',
			contentType: 'application/json'

		})
	</script>
</body>
</html>